@import url('https://fonts.cdnfonts.com/css/lazy-dog');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #fff9f6;
    font-family: 'Poppins', sans-serif;
}

.main-container {
    display: flex;
    height: 100vh;
    width: 100%;
}

.banner-side {
    width: 50%;
    background-image: url('../assets/img/7\ Sem\ Título_20260417194918.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end; 
    padding: 5%;
    color: #ffebdf;
    border-radius: 0 50px 50px 0;
}


.brand-name {
    font-family:'Poppins',sans-serif; 
    font-size: 28px;
    font-weight: 700;
}

.banner-content{
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.banner-content h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 90px; 
    font-weight: 7000;
    color: #ffebdf;
}
.logo{
    background-color: #fff9f6 ;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-side {
    width: 50%;
    flex: 0 0 50%;
    background-color: #fff9f6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.form-box {
    width: 100%;
    max-width: 400px;
}

.form-box .logo img{
  width: 95px;
  margin-left: -580px;
  margin-top: -260px
}

.form-box h2 {
    color: #4a1d00;
    font-size: 32px;
     margin-bottom: 10px;
}

.input-group {
    margin-top: 20px;
    margin-bottom: 20px;
}

.input-group label {
  font-family:'Poppins', sans-serif;
    display: block;
    font-size: 14px;
    color: #4a1d00;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 15px;
    border: 1px solid #4a1d00;
    border-radius: 10px;
    background-color: #fffbfa;
    font-size: 16px;
}
input::placeholder{
    color: #e3d5d3;
    display: flex;
}

.btn-login {
    width: 100%;
    padding: 16px;
    background-color:#ff1251;
    color: #fff9f6;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 700;
    margin-top: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.logo {
    display: flex;
    align-items: center; 
    gap: 10px; 
    margin-bottom: 15px;
}

.logo-img {
    width: 300px; 
    height: auto;
    filter: drop-shadow(0px 4px 10px rgba(0,0,0,0.3));
}

.banner-content h1 {
    font-size: 32px;
    color: white;
    margin-bottom: 15px;
    line-height: 1.2;
}
.olho{
    display: flex;
    flex-direction: row;
    
}
.btn-login:hover {
    background-color: #ff3c70;
}
